@use 'root';
// *******************************************
// About Page styling
// *******************************************

.page-nav {
    background-color: root.$neutral-black;
}

.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;

    margin: 0;
    padding: 0; 
    text-align: center;

    .about {
        grid-template-rows: 1fr auto auto .5fr;
    }
    .description-text {
        max-width: 650px;
        margin: auto;
    }
    .about-btn-container {
        justify-content: center;
    }
} 

.page-hero {
    position: relative;
    background-image: url("../images/bath-items.jpg");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: screen;
    width: 100%;
    height: 500px;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    z-index: -5;
}

.about.page {
    .faq {
            margin-bottom: 8rem;
    }
    .carousel {
        grid-column: 1;
        margin: auto;
        max-width: 1000px;
        width: 80%;
        height: 100%;
        grid-row: 4/5;
    }
    .about-text {
        max-width: 1200px;
        margin-inline: 5rem;
    }
    .about-main .primary-header {
        justify-self: center;
    }
    .carousel-button.prev {
        left: .01rem;
    }
}

.page-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    color: white;
    font-family: serif;
}

@media (min-width: 800px) {
    .page {
        grid-template-rows: 1fr auto auto 1fr;
    }
}
