@use 'root';
// *******************************************
// Amenities Page Styling  
// *******************************************

.amenities.page {
    grid-template-rows: 1fr;

    .page-hero {
        background-image: url("../images/bath-interior.jpg");
    }
    .about-btn-container {
        padding-block: 1rem;
    }
}

.amenities-main {
    display: grid;
    gap: 1rem;
}

.amenities-pictures {
    margin-inline: 3rem;
    margin-inline: clamp(3rem, 2.6rem + 2vw, 5rem);
    margin-bottom: 3rem;
    margin-bottom: clamp(3rem, 2.6rem + 2vw, 5rem);
}

.amenities-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-inline: auto;
    max-width: 800px;
    height: 31.25rem;
    height: clamp(31.25rem, 27.5rem + 18.75vw, 50rem);
}

.amenities-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 100%;
    position: relative;
}

.img-1 {
    background-image: url("../images/amenities-pool.jpg");
}

.img-2 {
    background-image: url("../images/amenities-skincare.jpg");
}

.img-3 {
    background-image: url("../images/amenities-garden.jpg");
}

.img-4 {
    background-image: url("../images/amenities-drinks.jpg");
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.65);
    position: relative;
}

.amenities-background:hover .overlay {
    opacity: 1;
}

.hover-text {
    z-index: 5;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt-title {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.66rem + 0.7vw, 1.5rem);
    padding-bottom: .5rem;
    font-weight: bold;
}

.hover-text > .description-text {
    font-size: 0.65rem;
    font-size: clamp(0.65rem, 0.5800000000000001rem + 0.35vw, 1rem);
}

@media (min-width: 800px) {
    .amenities.page {
        grid-template-rows: 1fr auto;
    }
}

@media (max-width: 600px) {
    .amenities-img-grid {
            display: grid;
            grid-template-columns: 1fr;
            height: 1000px;
            min-width: 200px;
    }
}
