
.modal-overlay {
    // position: -webkit-sticky;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // transform: translateX(85%);
    // height: 50%;
    // left: 0;
    z-index: 5000;
    display: none;

    padding: 7rem;
    width: clamp(31.25rem, 25rem + 31.25vw, 62.5rem);
    // display: none;
    text-align: left;
}

.modal-overlay.show-modal {
    display: grid;
}


.modal-close-btn {
    justify-self: end;
    margin-right: -55px;
    // margin-top: 0px;
    margin-bottom: -35px;
    background-color: transparent;
    color: black;
}