// ***********************
// booking section styling  
// ***********************

.booking {
    display: grid;
    margin:auto;
    place-content: center;
    place-items: center;
    margin-block: 3rem;
    margin-block: clamp(2rem, 2.2rem + 4vw, 8rem);
    position: relative;
    max-width: 1800px;
}

.booking-bg {
    position: absolute;
    // background-color: purple;
    background-image: url("images/monstera.png");
    width: 700px;
    height: 700px;
    bottom: 20px;
    left: -70px;
    background-repeat: no-repeat; 
    background-size: 100%;
    
    z-index: -5;
}

.booking-bg2 {
    position: absolute;
    // background-color: pink;
    background-image: url("images/lotus.png");
    width: 400px;
    height: 320px;
    bottom: 0;
    right: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -5;
}

.step-title {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Playfair Display',serif;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(0, 0, 0);
    margin-bottom: 1rem;
}

.form-card {
    background-color: rgb(247, 172, 203);
    box-shadow: 10px 5px 20px rgb(87, 87, 87, .5);
    padding-block: 2rem;
    padding-inline: clamp(4rem, 3.4rem + 3vw, 7rem);
    display: none;
    max-width: 700px;
    border-radius: 2rem;
}

.form-group {
    display: grid;
    margin-bottom: 1rem;
}

.form-group:nth-child(2) {
    width: 18.75rem;
    width: clamp(18.75rem, 16.25rem + 12.5vw, 31.25rem);
}

.form-group:last-child {
    margin: 0;
}

.form-group>label {
    font-size: 1.2rem;
}

input,
select {
    margin-top: .5rem;
    font-size: 1rem;
    padding: .5em .75em;
}

.form-flex {
    display: flex;
    gap: 1rem;
}

.form-card.active {
    display: grid;
}

.booking button {
    margin-top: .8rem;
    padding: .5rem 1rem;
    font-size: inherit;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-group > small {
    font-weight: bold;
    color: rgb(182, 31, 94);
    padding: .2rem;
    display: none;
}

.form-group.error > small {
    display: inline-block;
}

#guests::placeholder,
#fname::placeholder,
#lname::placeholder,
#email::placeholder,
#password::placeholder, 
#password2::placeholder {
    color: black;
}

.success-msg {
    display: grid;
    justify-content: center;
    place-items: center;
    text-align: center;
}

.success-title {
    font-family:'Playfair Display',serif;
    font-size: 1.8rem;
    z-index: 100;
    max-width: 350px;
}

.success-text {
    font-weight: bold;
}

.success-desc {
    font-size: 1rem;
    padding-block: .5rem 1rem;
}

.circle {
    position: absolute;
    width: 220px;
    height: 220px;
    background: linear-gradient(180deg, rgba(216, 56, 123, .8), rgba(255, 0, 0, 0) 70.71%),
                linear-gradient(180deg, rgba(253, 0, 198, 0.8), rgba(0, 255, 0, 0) 70.71%);
    border-radius: 50%;
    z-index: 1;
}

.success-msg img {
    z-index: 50;
}

.update {
    background-color: rgba(0, 0, 0);
    color: white;
    border-radius: 5px;
    padding-inline: 5px;
}

@media (max-width: 700px) {
    .booking-bg {
        background-image: none;
    }
    .booking-bg2 {
        background-image: none;
    }
}
