// *******************
// FAQ section styling
// *******************

.faq {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 2rem;
    padding-block: clamp(2rem, 1.2rem + 4vw, 6rem);

    background: url('../images/orchid.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -5% 60%;
}

.faq-center .basic-header{
    text-transform: uppercase;
    padding: 1rem;
}

.faq-center {
    height: 650px;
}

.faq-question {
    border: 1px solid black;
    margin: 1rem;
    width: 19rem;
    width: clamp(19rem, 12.8rem + 31vw, 50rem);
    background-color: white;
}

.faq-question-title p {
    font-size: 1.2rem;
    font-size: clamp(1.2rem, 1.04rem + 0.8vw, 2rem);
    padding: 2rem;
    text-align: start;
}

.faq-question-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-family: 'Playfair display', 'serif';
    letter-spacing: 2px;
}

.faq-question-text {
    display: none;
    max-width: 800px;
    text-align: left;
    padding: 0rem 2rem 2rem 2rem;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
}

.faq-question.show-answer .faq-question-text {
    display: flex;
}

.faq-question-btn {
    padding: 2rem;
    transition: 90ms ease-in;
}

.faq-question.show-answer .faq-question-btn {
    transform: scaleY(-1);
}

.faq-question.show-answer {
    border: 1px solid rgb(216, 56, 123);
    color:rgb(216, 56, 123);
    background-color: rgb(255, 230, 240);
}

.faq-question.show-answer .faq-question-btn {
    color: rgb(216, 56, 123);
}

@media (max-width: 800px) {
    .faq {
        background-size: 40%;
        background-position: -5% -5%;
    }
}