footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: start;
    padding: 2rem 5rem 5rem;
}

footer img {
    width: 300px;
}

footer a {
    padding: 0;
}

.footer-contact {
    // display: grid;
    list-style-type: none;
    align-self: start;
    justify-self: start;
}

.footer-title {
    padding-bottom: .35rem;
    // text-decoration: underline;
    border-bottom: 1px solid white;
    line-height: 1.5;

}

.socials {
    display: flex;
    gap: 1rem;
    padding-top: .45rem;
}