@use 'root';

footer {
    background-color: root.$neutral-black;
    color: root.$neutral-white;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: start;
    gap: 1rem;
    padding-block: 2rem 5rem;
    padding-inline:clamp(1rem, 0.19999999999999996rem + 4vw, 5rem);
}

footer img {
    width: 300px;
}

footer a {
    padding: 0;
}

.footer-contact {
    // display: grid;
    list-style-type: none;
    align-self: start;
    justify-self: start;
}

.footer-title {
    padding-bottom: .35rem;
    // text-decoration: underline;
    border-bottom: 1px solid root.$neutral-white;
    line-height: 1.5;

}

.socials {
    display: flex;
    gap: 1rem;
    padding-top: .45rem;
}
