@use 'root';
// *******************************************
// global styles
// *******************************************

body {
    font-family: root.$primary-font;
    font-size: 0.75rem;
    font-size: root.$font-reg-clamp;
    color: root.$neutral-black;
}

button {
    background: none;
    border: none;
}

.buttons {
    background-color: root.$neutral-black;
    padding: .8rem 1.5rem;
    justify-self: start;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.1rem);
    text-transform: capitalize;
    letter-spacing: .9px;
    color: root.$neutral-white;
}

.buttons:hover {
    background-color: root.$primary-accent-color;
}

// .description-text {
//     font-size: 0.75rem;
//     font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
// }

.primary-header {
    font-size: 1.8rem;
    font-size: clamp(1.8rem, 1.56rem + 1.2vw, 3rem);
    font-weight: 900;
    font-family: root.$secondary-font;
    letter-spacing: 2px;
}

.basic-header {
    font-size: 3rem;
}

.minor-header {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.current-link {
    text-decoration: underline;
}

