.reviews {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    // background-color: pink;
    padding-block: 2rem;
}

.title {
    font-size: 2rem;
}

.img-container {
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.review {
    display: grid;
    justify-items: center;
    gap: 1rem;
    background-color: aliceblue;
}

.info {
    max-width: 800px;
}

.person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.author {
    font-size: 1.5rem;
}

.reviews .btn {
    background-color: rgb(255, 183, 245);
}