// *******************************************
// SASS variables 
// *******************************************

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Playfair Display', serif;

$font-reg-clamp: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);

$primary-accent-color: rgb(216, 56, 123);
$secondary-accent-color: rgb(255, 105, 175);
$tertiary-accent-color: rgb(255, 230, 240);
$neutral-white: rgb(255, 255, 255);
$neutral-black: rgb(0, 0, 0);
