// **************************
// treatments section styling  
// **************************

.massages {
    background: url('/images/unsplash/palm.png');
    background-position: -90;
}

.skincare {
    background: url('/images/unsplash/pexels-anna-shvets-3851556.png');
    background-position: 95% 80%;
}

.haircare {
    background: url('/images/unsplash/haircare.png');
    background-position: 95% 20%;
}

.gentlemen {
    background: url('/images/unsplash/skincare.png');
    background-position: -220%;
}

.packages {
    background: url('/images/unsplash/gift.png');
    background-position: 20% 10%;
}

.treatments-group {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
}

.treatments-background-img {
    position: absolute;
    bottom: 0;
    right:0;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 600px;
    height: 400px;
    z-index: -5;
}

.treatments-explore {
    background-color: black;
    padding: 1.5rem;
    align-self: center;
}

.treatments-explore .primary-header {
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

.treatments-btn-container {
    display: grid;
    gap: 1.25rem;
    gap: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
    align-items: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
}

.filter-btn {
    padding: .5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.filter-btn:hover, 
.filter-btn:focus {
    text-decoration: underline;
}

.filter-btn.active {
    text-decoration: underline;
    background-color: rgb(216, 56, 123);
    color:white;
}

.black-line {
    padding: 1rem;
    background-color: black;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
    padding: clamp(1rem, 0.6rem + 2vw, 3rem);
    min-height: 500px;
}

.option {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    
    border: 1px solid black;
    padding: 1rem;
    padding: clamp(1rem, 0.8rem + 1vw, 2rem);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(.5rem);
    transition: .2s ease-in;
}

.option .price {
    font-style: italic;
    align-self: end;
}

.option h4 {
    text-transform: uppercase;
}

.option p {
    font-size: .8rem;
}

// *****************************
// trailing circle mouse move 
// *****************************

.option {
    --left: 0px;
    --top: 0px;

    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.option::before {
    content: '';
    background: rgba(216, 56, 123, .3);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: translate(-50%, -50%) scale(1.5);
    z-index: -10;

    filter: blur(30px);
    opacity: 0;
    transition: opacity 0.3s;
}

.option:hover::before {
    opacity: 1;
}

@media (max-width: 1200px) {
    .treatments-group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto 1fr;
    }
    .treatments-btn-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0rem;
    }
}

@media (max-width: 900px) {
    .content {
            grid-template-columns: auto;
        }
}