// *******************************************
// initial setup styling  
// *******************************************
.home {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(/images/unsplash/haley-phelps-S-llxYh3GzI-unsplash.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 80% 40%;
    background-repeat: no-repeat;

    height: 100vh;
    // display: grid;
    // grid-template-rows: auto 1fr;
    // align-items: center;
    position: relative;
    
}

html {
    width: 100%;
}
nav {
    padding: 1rem 1.5rem;
    // align-self: start;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(.5rem);
}

.nav-header {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
}

.fixed {
    transition: .5s ease-in;
    z-index: 5000;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: .5rem 1.5rem;
    
}

.fixed .links a {
    font-size: .8rem;
}

.fixed .home-logo-img {
    width: 100px;
}

.links-container {
    display: none;
    padding-top: 2rem;
}

.links a {
    /* background: white; */
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    // font-weight: bold;
    padding:.5rem;
    margin-bottom: 1rem;
}

.links-container.show-links {
    display: grid;
    align-items: center;
    // justify-content: start;
    // padding-top: 1rem;
}

.nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    display: block;
    cursor: pointer;
    // background-color: rgba(0, 0, 0, 0.3);
    // box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.3);
}

// .nav .nav-close-btn {
//     display: none;
//     color: inherit;
//     font-size: 2.35rem;
//     cursor: pointer;
// }


// .links {
//     display: flex;
//     gap: 1rem;
//     padding: 0;
//     margin: 0;
// }

.links a:hover {text-decoration: underline;}
.links-reserve-btn {background-color: rgb(216, 56, 123); max-width: max-content; }
.links-reserve-btn:hover {background-color: black;}

// .home-logo-img:hover,
// .home-logo-img:focus {
//     transform: scale(1.1);
//     transition: .2s ease-in;
// }

.nav-toggle:hover,
.nav-toggle:focus {
    transform: scale(1.3);
    transition: .2s ease-in;
}

.nav-close-btn:hover, 
.nav-close-btn:focus {
    transform: scale(1.3);
    transition: .2s ease-in;
}


@media screen and (min-width: 900px) {

    .nav-header {
        width: 100%;
        /* padding: 0; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        display: flex;
        padding-top: 0rem;
    }

    .links {
        display: flex;
        gap: 2rem;
    }

    .links a {
        // background: transparent;
        color: white;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        transition: .3s ease-in-out;
        /* margin: 0 1rem; */
        // font-weight: bold;
        // padding: 0;
        margin-bottom: 0;
    }

    .links a:hover {
        color: var(--clr-white);
    }
    // .links-reserve-btn {
    //     background-color: rgb(216, 56, 123);
    //     // padding: 5rem;
    // }

    // .links-reserve-btn:hover {
    //     background-color: black;
    // }
}


// **************
// banner styling  
// **************

.banner {
    display: grid;
    align-items: center;
    // text-align: center;
    min-height: 100vh;
    margin-left: clamp(1rem, -1.66rem + 8.511vw, 6rem);
}

.banner-container {
    display: grid;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px 60px rgba(0, 0, 0, 0.2);
}

.banner-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-size: clamp(3rem, 2.4rem + 3vw, 6rem);
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 1;
}

.banner-description {
    max-width: 600px;
}

.banner-book-btn {
    background-color: black;
    padding: .8rem 1.5rem;
    justify-self: start;
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: .9px;
    color: inherit;
}

.banner-book-btn:hover {
    background-color:rgb(216, 56, 123);
}
