body {
    display: grid;
    place-content: center;
    text-align: center;
    /* background-color: palevioletred; */
    color: black;
}

section {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 100vh;
}

/* .filter-btn:hover, 
.filter-btn:focus {
    background-color: rgb(255, 130, 255);
} */

.filter-btn.active {
    background-color: aquamarine;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 6rem;
    
}

.wrapper {
    z-index: 100;
}

/* circle mouse move */

.option {
    --left: 0px;
    --top: 0px;

    /* background-color: pink; */
    /* z-index: -100; */
    border: 1px solid black;
    padding: 3rem;
    position: relative;
    overflow: hidden;
}

.option::before {
    content: '';
    background: rgba(218, 165, 32, 0.486);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;

    position: absolute;
    left: var(--left);
    top: var(--top);
    transform: translate(-50%, -50%) scale(1.5);
    z-index: -10;

    filter: blur(50px);
    opacity: 0;
    transition: opacity 0.3s;
}

.option:hover::before {
    opacity: 1;
}

/* scroll animation */

/* @media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */

/* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 900ms;
} */

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.option:nth-child(2) {
    transition-delay: 200ms;
    border: 5px solid pink;
}

.option:nth-child(3) {
    transition-delay: 400ms;
}

.option:nth-child(4) {
    transition-delay: 600ms;
}